.registerContainer{
    width: 50%;
    height: 90%;
    h2.registerTitle{
        font-weight: 700;
        font-size: 32px;
        line-height: 38px;
        color: var(--main-text);
    }
    .formContainer{
        height: 80%;
        margin-top:30px;
    }
}


.progressContainer{
    width: 90%;
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin-top:30px;
}
.progressBar{
    display: flex;
    flex-grow: 1;
    max-width: 60px;
    height: 1px;
    margin: 0px 8px;
    border-width: 2px;
    border-style: solid;
}

