.productContainer {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 2px;
    margin-bottom: 32px;

    .imgContainer {
        width: 100px;
        height: 100px;
        margin-right: 21px;
    }
    .productInfo {
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1;
        align-content: flex-start;

        .productName {
            font-size: 16px;
            line-height: 24px;
            font-weight: 400;
            max-width: 60%;
            margin-right: auto;
        }

        .productControlContainer {
            display: block;
            width: 100%;
            order: 1;
        }

        .productControl {
            display: flex;
            width: 116px;
            margin-top: 18px;
            margin-bottom: 17px;
            justify-content: space-between;
            align-items: center;

            .productAction {
                display: inline-block;
                width: 27px;
                height: 26px;
                cursor: pointer;
            }

            .productCount {
                display: inline-block;
            }
        }

        .price {
            font-size: 16px;
            line-height: 22px;
            font-weight: 700;
        }
    }
}